body{
	background-color: orange;
}
.div1{
	width:50%;
	height:50%;
	background-color: blue;
	font-size: 30px;
	margin: 40px;
	padding:10px;
	color:white;
}
.div2{
	background-color: pink;
	width:40%;
	height:90%;
	display: inline-block;
}
